@import "../variables/Colors.css";
@import "../variables/Tipos.css";


.text {
  font-size:2.0064em ;
  text-align: left;
  padding: 1rem;

}

.card{
  height: 100%;
  
}

.card:hover{
  background-color: rgba(0, 0, 0, 0.205);
}



@media (max-width: 700px) {
 .text {
   padding:0rem;
 }
  
}



