@import "../variables/Colors.css";
@import "../variables/Tipos.css";

@media (max-width: 700px) {
  .rigth {
    font-size: 1.5em;
  }
  .dropdown {
    font-size: 11px;
  }
  .text{
    font-size: 9px;
  }
  
}



.districtAndPrice {
  font-family: 'FontBook';
  margin: 0;
  font-size: 0.9196em;
}


.description {
  font-family: 'FontLight';
  margin-top: 0.3125em;
  margin-bottom: 0;
  font-size:0.9196em;
  padding-left: 1.0625em;
}


.shortDescription {
  font-family: 'FontBook';
  margin: 0;
  font-size:1.1704em;
  max-width: 60vw; 
 

}


.vista {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  
 
}

.dropdown {
  position: relative;
  display: block;
}

.left {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 0px;
  padding-top: 0%;
}

.rigth {
  display: flex;
  text-align: right;
  flex-direction: column;
  padding: 0px;
  justify-content: center;
}

.textLogo {
  display: flex;
  flex-direction: row;
}

.icon {
  font-size: 0.7em;
  justify-items: left;
  margin-right: 5px;
  padding-top: 3px;
}

.smallTitle {
  font-family: 'FontBook';
  font-size: 0.920104175867712em;
  margin: 0px;
}

hr {
  height: 1px;
  width: 100%;
  background-color: black;
  margin: 0px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-width: 0px;
  
}

