@import "../variables/Colors.css";
@import "../variables/Tipos.css";

@media (max-width: 700px) {
  .byEating {
    font-size: 1.3em;
  }
  .subt {
    font-size: 2em;
  }
}
.navbar {
  background-color: var(--secundary-color-pink);
  padding-bottom: 5vh;
  margin-top: 0%;
}

h1 {
  padding-top: 7vh;
  font-size: 3.2604em;
  margin: 0;
}

.subt {
  font-size: 1.4212em;
}

.byEating {
  font-size: 1.272em;
  margin: 0;
}
