@import './variables/Colors.css';
@import './variables/Tipos.css';



.App {
  background-color: var(--background-color);
  height: 100%;
  text-align: center;
  font-family: 'FontMedium';

}

h1 {
  margin: 0%;
  padding-top: 7vh;
  font-size:3.2604rem;
 
}

h2 {
  font-size: 1.4212rem;

}

h3{
  font-size: 1.6720rem;
  margin:0px;
}

h4 {
  font-size: 1.0032rem ;
  margin: 0px;
}

h5 {
  font-family: 'FontBook';
  margin: 0px;
  font-size: 1.1704rem;
}

h6 {
  font-family: 'FontBook';
  margin: 0px;
  font-size: 0.9196rem;
}

h7{
  font-family: 'FontLight';
  margin-top: 5px;
  margin-bottom: 0px;
  font-size:0.9196rem;
}

p {
  font-family: 'FontLight';
  margin-top: 5px;
  margin-bottom: 0px;
  font-size:0.9196rem;
  padding-left: 17px;
}



