@import "../variables/Colors.css";
@import "../variables/Tipos.css";


.text {
  padding-top: 1vh;
  font-size:2.0064rem ;
}

.card {
  
  
  height: 30vh;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}





