@import "../variables/Colors.css";
@import "../variables/Tipos.css";




.frameList {
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 10vh;
  padding-top: 20vh;
}

.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2vh;
}

.city {
  color: var(--secundary-color-green);
  text-align: left;
  font-size: 3.0096rem;
  margin: 0px;
}
.cardColor{
  text-decoration: none;
  color: black;
  padding: 15px;
}
.cardColor:nth-child(4){
    background-color: var(--secundary-color-beige);
    
  }

.cardColor:nth-child(5n+3)
{background-color: var(--secundary-color-beige);
 }


.cardColor:nth-child(4n+1){
  background-color: var(--secundary-color-pink);
  
}

.cardColor:nth-child(4n+2)
{
  background-color: var(--secundary-color-green);
  
}

.cardColor:nth-child(7){
  background-color: var(--secundary-color-green);
  
}

