@import "../variables/Colors.css";
@import "../variables/Tipos.css";


.frameList {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 10vw;
  padding-bottom: 10vh;
 
}



.grid{
    display:grid;
    grid-template-columns:  42vh 42vh 42vh;
    grid-template-rows: 42vh 42vh 42vh;
    gap: 2vh;
    
}

.city {
  color: var(--secundary-color-green);
  text-align: left;
  font-size: 3.0096em;
  margin: 0;

}
.cardColor{
  cursor: pointer;
  text-decoration: none;
  color: black;
  

}


@media (max-width: 700px) {
  .frameList {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .grid{
    display:grid;
    grid-template-columns:  14vh 14vh 14vh;
    grid-template-rows: 14vh 14vh 14vh;
    gap: 1vh;

  }
}



.cardColor:nth-child(4){
    background-color: var(--secundary-color-beige);
    
  }

.cardColor:nth-child(5n+3)
{background-color: var(--secundary-color-beige);
 }


.cardColor:nth-child(4n+1){
  background-color: var(--secundary-color-pink);
  
}

.cardColor:nth-child(4n+2)
{
  background-color: var(--secundary-color-green);
  
}

.cardColor:nth-child(7){
  background-color: var(--secundary-color-green);
  
}

