@import "../variables/Colors.css";
@import "../variables/Tipos.css";

.frameList {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 20vw;
  padding-bottom: 10vh;
  
}

@media (max-width: 700px){
  .frameList {
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 15vw;
    padding-bottom: 30vh;
  
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.volver {
  color: var(--secundary-color-green);
  font-size:1.171041678377088em;
  text-decoration: none;
  margin-top: 1.3em;
  /* border: 1px solid red; */
}

.category {
  color: var(--secundary-color-green);
  font-size: 2.5em;
  /* font-size:calc(3.011250030112512rem+0.2vh); */
  margin: 0;
  /* border: 1px solid red; */
}

.longDescription {
  font-family: 'FontLight';
  margin-top: 0.3125em;
  margin-bottom: 0;
  font-size:calc(0.9196em + 0.2vh);
}

.cardColor:nth-child(3n + 2) {
  background-color: var(--secundary-color-beige);
  padding: 0.9375em;
}

.cardColor:nth-child(3n + 3) {
  background-color: var(--secundary-color-pink);
  padding: 0.9375em;
}

.cardColor:nth-child(3n + 1) {
  background-color: var(--secundary-color-green);
  padding: 0.9375em;
}
