@import '../variables/Colors.css';
@import '../variables/Tipos.css';



.navbar {
    background-color: var(--secundary-color-pink) ;
    padding-bottom: 5vh;
    margin-top: 0%;
    
  }

  h1 {
    padding-top: 7vh;
    font-size:3.2604em;
    margin: 0;
    
  }

  h2 {
    font-size:1.4212em;
    
  }

  h4 {
    font-size:1.0032em;
    margin: 0;
    
  }